spring:
  application:
    name: MoneyTalk

  ai:
    openai:
      api-key: ${GROQ_API_KEY}
      base-url: https://api.groq.com/openai
      chat:
        options:
          model: openai/gpt-oss-20b

  datasource:
    password: felipe
    url: jdbc:postgresql://localhost:5432/money-talk
    username: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8080